
#header-skills-container {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-around;
    border-bottom: solid 2px rgba(255, 255, 255, 0.125);
    padding-bottom: 1.5em;
}
#me-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* Icons */

ul.icons {
    cursor: default;
    list-style: none;
    padding-left: 0;
}

    ul.icons li {
        display: inline-block;
        padding: 0 1em 0 0;
    }

        ul.icons li:last-child {
            padding-right: 0 !important;
        }

    ul.icons.major {
        padding: .3em 0;
    }

        ul.icons.major li {
            padding-right: 3.0em;
        }

            @media screen and (max-width: 736px) {

                ul.icons.major li {
                    padding: 1.5em 1em !important;
                }

                #header-skills-container {
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                }
                #me-container h2 {
                    text-align: center;
                }
                #icons-container {
                    margin-top: 2em;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

            }


/* Icon */

	.icon {
		text-decoration: none;
		border-bottom: none;
		position: relative;
	}

		.icon > .label {
			display: none;
		}

		.icon.major {
			transform: rotate(-45deg);
			border-radius: 3px;
			border: solid 2px #fff;
			display: inline-block;
			font-size: 1.2em;
			line-height: 4em;
			text-align: center;
			height: calc(3em + 20px);
			width: calc(3em + 20px);
		}

		.icon.style1 {
			color: #00ffcc;
		}

		.icon.style2 {
			color: #00f0ff;
		}

		.icon.style3 {
			color: #76ddff;
		}
        .my-dev{
	        display: inline-block;
		    transform: rotate(45deg);
		    -webkit-transform: rotate(45deg);
		    font-size: 2em;
		    margin-top: 21px;
		    margin-left: 0px;
        }
        @media screen and (max-width: 736px) {
            .icon.major {
                transform: rotate(-45deg);
                border-radius: 3px;
                border: solid 2px #fff;
                display: inline-block;
                font-size: 1.2em;
                line-height: 4em;
                text-align: center;
                height: calc(3em + 20px);
                width: calc(3em + 20px);
            }
            .my-dev{
                display: inline-block;
                transform: rotate(45deg);
                -webkit-transform: rotate(45deg);
                font-size: 2em;
                margin-top: 17px;
                margin-left: 0px;
            }

        }

        span.comma {
            font-family: Arial, sans-serif;
            font-style: normal;
            color: white;
          }
